<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TEST_INCLUDES</key>
	<string>$(TEST_INCLUDES)</string>
	<key>TEST_INCLUDES_2</key>
	<string>$(TEST_INCLUDES_2)</string>
	<key>TEST_QUOTES</key>
	<string>$(TEST_QUOTES)</string>
	<key>TEST_QUOTES_2</key>
	<string>$(TEST_QUOTES_2)</string>
	<key>TEST_QUOTES_3</key>
	<string>$(TEST_QUOTES_3)</string>
	<key>TEST_SPACES</key>
	<string>$(TEST_SPACES)</string>
	<key>TEST_VARIANT</key>
	<string>$(TEST_VARIANT)</string>
	<key>TEST_VARIANT_2</key>
	<string>$(TEST_VARIANT_2)</string>
	<key>TEST_VARIANT_3</key>
	<string>$(TEST_VARIANT_3)</string>
	<key>TEST_IMPORTED_DEV_DIR</key>
	<string>$(TEST_IMPORTED_DEV_DIR)</string>
	<key>TEST_IMPORTED_SRCROOT</key>
	<string>$(TEST_IMPORTED_SRCROOT)</string>
	<key>TEST_EMBEDDED</key>
	<string>$(TEST_EMBEDDED)</string>
	<key>TEST_INVALID_EMBEDDED_1</key>
	<string>$(TEST_INVALID_EMBEDDED_1)</string>
	<key>TEST_INVALID_EMBEDDED_2</key>
	<string>$(TEST_INVALID_EMBEDDED_2)</string>
	<key>TEST_VARIABLE_1</key>
	<string>$(TEST_VARIABLE_1)</string>
	<key>TEST_VARIABLE_2</key>
	<string>$(TEST_VARIABLE_2)</string>
	<key>TEST_RESOLUTION_OF_VARIANT</key>
	<string>$(TEST_RESOLUTION_OF_VARIANT)</string>
	<key>TEST_RESOLUTION_LEVEL_UP</key>
	<string>$(TEST_RESOLUTION_LEVEL_UP)</string>
	<key>TEST_RESOLUTION_ASYMETRIC</key>
	<string>${TEST_RESOLUTION_ASYMETRIC}</string>
	<key>TEST_RESOLUTION_ASYMETRIC2</key>
	<string>$(TEST_RESOLUTION_ASYMETRIC2)</string>
	<key>TEST_RESOLUTION_ASYMETRIC3</key>
	<string>prefix ${TEST_RESOLUTION_ASYMETRIC3) suffix</string>
	<key>TEST_RESOLUTION_BRACES_IN_PLIST</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS</key>
	<string>$(TEST_RESOLUTION_NO_PARENTHESIS)</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS2</key>
	<string>$(TEST_RESOLUTION_NO_PARENTHESIS2)</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS3</key>
	<string>${TEST_RESOLUTION_NO_PARENTHESIS3}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS4</key>
	<string>${TEST_RESOLUTION_NO_PARENTHESIS4}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS5</key>
	<string>${TEST_RESOLUTION_NO_PARENTHESIS5}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS6</key>
	<string>${TEST_RESOLUTION_NO_PARENTHESIS6}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS7</key>
	<string>${TEST_RESOLUTION_NO_PARENTHESIS7}</string>
	<key>TEST_RESOLUTION_NO_PARENTHESIS_IN_PLIST</key>
	<string>$PRODUCT_BUNDLE_IDENTIFIER</string>
	<key>TEST_RESOLUTION_DOES_NOT_EXIST</key>
	<string>$TEST_RESOLUTION_DOES_NOT_EXIST</string>
	<key>TEST_RESOLUTION_DOES_NOT_EXIST_IN_PLIST</key>
	<string>$(DOES_NOT_EXIST)</string>
	<key>TEST_RESOLUTION_DOES_NOT_EXIST2_IN_PLIST</key>
	<string>$DOES_NOT_EXIST</string>
	<key>TEST_SINGLE_DOLLAR</key>
	<string>$(TEST_SINGLE_DOLLAR)</string>
	<key>TEST_INHERIT_NO_PARENTHESIS</key>
	<string>$(TEST_INHERIT_NO_PARENTHESIS)</string>
	<key>TEST_ARRAY</key>
	<array>
		<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	</array>
	<key>TEST_DICTIONARY</key>
	<dict>
		<key>$(EXECUTABLE_NAME)</key>
		<string>VALUE</string>
		<key>KEY</key>
		<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	</dict>
</dict>
</plist>
